body {
    line-height: 1.6;
    background-color: #ede1c3;
    padding: 5%;
}

main {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: #333333;

}

h2 {
    border-bottom: solid 1px #cccccc;
    font-family: sans-serif;
    font-size: 20px;
    color: #333333;
}

.profilepic {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.profile {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 70%;
    color: #333333;
}

.pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列に分割 */
    grid-auto-rows: auto; /* 行の高さは自動 */
    gap: 5px; /* 画像間の隙間 (任意で調整可能) */
    max-width: 100%; /* ギャラリーの最大幅 */
}

.pics img {
    width: 85%; /* 各画像の幅を列の幅に合わせる */
    height: auto; /* 画像の縦横比を維持 */
    margin: 20px; /* 画像の外側に余白を追加 */
    transition: opacity 0.3s ease; /* なめらかな変化を追加 */
}

.pics img:hover {
    opacity: 0.7; /* マウスホバー時に半透明にする */
}

@media (max-width: 768px) {
    .container-6{
        gap:20px 3%;
    }
    .container-6 img {
        width:48.5%; /* 2列に設定 */
    }
}



p {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
}

.kuuhakuLL {
    font-size: 100px;
}
.kuuhakuL {
    font-size: 80px;
}

.kuuhakuM {
    font-size: 60px
}

.kuuhakuS {
    font-size: 40px;
}

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-100%);
    }
    }
    .scroll-infinity__wrap {
      display: flex;
      overflow: hidden;
    }
    .scroll-infinity__list {
      display: flex;
      list-style: none;
      padding: 0
    }
    .scroll-infinity__list--left {
      animation: infinity-scroll-left 50s infinite linear 0.5s both;
    }
    .scroll-infinity__item {
      width: calc(120vw / 6);   /* 120のとこで写真のサイズ変更可 */
    }
    .scroll-infinity__item>img {
      width: 100%;
    }
